/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
th {
  text-align: left;
  padding-right: 2em;
}

td {
  /* padding-left: 0; */
  padding-right: 2em;
}

h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active {
  color: #1440B8;
}

h1, h2 {
  font-weight: normal;
}

h2 {
  color: #091534;
}

a:link,
a:visited,
a:hover,
a:active {
    color: blue;
    text-decoration: none;
}

a:hover {
  background-color: #fff;
  text-decoration: underline;
}

div.menu {
  text-transform: uppercase;
  padding-bottom: 1em;
  border-bottom: 2px solid #FB9902;
}

div.menu a {
  padding-right: 1em;
}

div.menu a:link,
div.menu a:visited,
div.menu a:hover,
div.menu a:active {
  color: #0247FE;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #0247FE;
}

.even {
  background: #F7E9D4;
}

.odd {
  background: #fff;
}

.options form,
div.actions,
form {
  display: inline;
}

th {
  font-weight: normal;
}

table {
  margin-top: 1em;
}

.actions input,
.button_to input {
  font-size: 0.75em;
  padding: 0.4em;
  background-color: #F7E9D4;
}
